nav button {
  width: 25px;
  height: 25px;
  position: relative;
}

nav {
  padding: 24px;
}

nav button span {
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    transition: transform 0.3s;
  }
}

.menu {
  margin: calc(4 * 1rem) auto calc(2 * calc(4 * 1rem)) auto;
}

.menu ul,
.menu li {
  list-style: none;
}
